header .text-center {
    color: #000;
    background-color: rgba(0, 0, 0, 0.8);
    border-top: 1px solid gray;
    height: 644px;
}

 .navbar-brand.fs-1 {
    font-family: "Courgette", cursive;
}

.navbar-brand.fs-1:hover{
    color: white;
    font-family: "Courgette", cursive;
}
.bg-light {
    background-color: rgba(0, 0, 0, 0.8) !important;
}
.navbar-light .navbar-brand {
    color: white;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: white;
}

img, svg {
    vertical-align: middle;
    width: 146px;
    margin-top: 100px;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: white;
}

aside {
    /* padding-left: 95%; */
    /* margin-top: 10px; */
}
aside h6 {
    color: black;
}
aside button {
    width: 100%;
}
aside i.bi, footer i.bi {
    padding: 5px;
}

footer a {
    color: #fff;
}

footer ul {
    list-style-type: none;
    padding-left: 0;
}
main, h2{
    color: #000;
}

.adresse {
    margin: 0 65px;
}