header {
    color:black;
    background-color:rgba(0, 0, 0, 0.1);
    background-image:url(../img/header.jpg);
    height: 789px;
    width: 100%;
    }
    h1 {
        color: white;
    }
section h1{
    color: black;
    /* text-align: center; */
}
    
.bg-light {
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.navbar-light .navbar-brand {
    color: white;
}


.navbar-light .navbar-nav .nav-link {
    color: white;
}

img, svg {
    vertical-align: middle;
    width: 146px;
    margin-top: 40px;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: white;
}